.expandable-container{
    margin-top: 1em 0;
    margin-bottom: 1em;
}

.expandable-container button:first-child{
    background: none;
    color: rgb(0, 102, 255);
    border: none;

}

.expandable-container [role="region"]{
    display: none;
}

.expandable-container [role="region"][area-expanded="true"]{
    display: block;
}

.explanations{
    padding: 1em 2em;
    background: #292929;
    color: #dcdcdc;
    border-radius: 5px;
    text-align: left;
}